/* header */

/* nav */

body, .left {
    background-color: #E6ECF0;
    font-family: Arial, Helvetica, sans-serif;
}


/* section links */

/* section form posts */

/* section get posted */




form {
    display: flex;
    width: 90%;
    flex-direction: column;
  }

  textarea, .busca input {
    border-color: #CBEFFB;
    border-radius: 5px;
    border-width: 1px;
  }

  .busca input {
    background-color: #F5F8FA;

  }

  .post, nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EAF8FD;
    margin: 0px;
    padding: 1%;
  }

  nav {
      background-color: white;
  }

  a {
    text-decoration: none;
    font-size: 15px;
}

.navegacao {
    width: 40%;
}
  
  .container {
  display: flex
  }

  .trio {
      
  }

  .fisrtTwt {
      display: none;
  }
  
  
  
  button {
    background-color: #58CEF2;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  i {
      color:#58CEF2;
      padding: 15px;
      font-size: 20px;
      
  }

  .post i:hover {
    border: 1px solid #CBEFFB;
    border-radius: 5px;
    border-width: 1px;
  }

  
  
  .edit-postar p, .left, .right {
    display: flex;
    flex-basis: 20%;
    background-color: white;
    opacity: 0.7;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 1px;
    margin: 0 5px;
    text-align: center;
  }

  .edit-postar p {
      flex-wrap: wrap;
      flex-basis: 20%;
      margin: 0px;
  }


  .edit-postar {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-basis: 75%;
  }

  ::placeholder {
    color: #2FC2F2;
    opacity: 1; /* Firefox */
  }

  textarea:focus::placeholder {
    color: #B2B8C6;
  }


  .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 25%;
  }

  .left * {
      margin: 2px;
  }

  .up {
      display: block;
      background-color: #2FC2EF;
      margin: 0px;
      width: 100%;
      height: 50%;;

  }

  .left img {
    background-color: rebeccapurple;
    border: 2px solid white;
    border-radius: 50% 50%;
    position: absolute;
    width: 6%;
    height: 11%;
    top: 27%;
    left: 2%;
  }

.dash {
    display: flex;
    flex-direction: row;
}

.dash a, .left a {
    color: #657786;
    padding: 2px;
}

.dash a:hover, span {
    color: #2FC2EF;
}
h1 {
    color: black;
}


  
