/* header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* nav */

body{
    background-color: #E6ECF0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.mural {
  display: flex;
  height: 50%;
  flex-direction: column-reverse;
}

.mural * {
  flex-basis: 40%;
}


/* section links */

/* section form posts */

/* section get posted */




form {
  display: flex;
  width: 100%;
  flex-direction: column;
  }

  textarea, .busca input {
    border-color: #CBEFFB;
    border-radius: 5px;
    border-width: 1px;
    resize: none;
  }

  .busca input {
    background-color: #F5F8FA;

  }

  .busca {
    padding: 25px;
  }

  .post, nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EAF8FD;
    margin: 0px;
    padding: 1%;
  }

  .feed {
    display: flex;
    flex-direction: column;
  }

  nav {
      background-color: white;
      display: flex;
      align-items: center;
      width: 100%;
      height: 25px;
      margin: 0 auto;
      position: sticky;
      top: 0;
      left: 0;
      text-align: center;
      box-shadow: 0 8px 8px -8px rgba(39, 39, 39, 0.5);
  }

  a {
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
}

.navegacao {
  
    width: 45%;
}

.navegacao * {
  color: #6F7D87;
}

.navegacao *:hover {
  color: #2FC2EF;
}

.bell, .envelope {
  font-weight: 300;
}

:not(i)  {
  font-family: Arial, Helvetica, sans-serif;;
}
  
  .container {
  display: flex;
  }

  .trio {
    width: 95%;
    margin: 10px;
      
  }

  .fisrtTwt {
      display: none;
  }
  
  
  
  button {
    background-color: #58CEF2;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: not-allowed;
  }

  button:disabled {
    background: rgb(195, 225, 235);
  }

  i {
      color:#58CEF2;
      padding: 15px;
      font-size: 20px;
      
  }

  .post i:hover {
    border: 1px solid #CBEFFB;
    border-radius: 5px;
    border-width: 1px;
    cursor: pointer;
  }

  .post button {
    width: 105px;
    height: 40px;
  }

  
  
  .left, .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 20%;
    background-color: white;
    opacity: 0.7;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 1px;
    margin: 0 5px;
    text-align: center;
  }

  .left, .right {
    width: 200px;
    height: 200px;
  }

  .top, .trend {
    width: 300px;
  }

  ::placeholder {
    color: #2FC2F2;
    opacity: 1;
  }


  .edit-postar p {
      flex-wrap: wrap;
      flex-basis: 20%;
      margin: 0px;
      display: flex;
    background-color: white;
    opacity: 0.7;
    background: white;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.2); */
    border-radius: 1px;
    margin: 0 5px;
    text-align: center;
  }


  .edit-postar {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-basis: 75%;
    /* overflow: auto; */
  }

  

  textarea:focus::placeholder {
    color: #B2B8C6;
  }

  .contador {
    position: absolute;
    color: gray;
    font-size: 15px;
    font-weight: 100;
    top: 12%;
    left: 78%;
  }


  .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 27%;
  }

  .left::before{
    content: '';
    position: absolute;
    width: 283px;
    left: 39px;
    top: 60px;
    height: 100px;
    background: #2FC2EF;
}

  .left * {
      align-self: right;
      margin: 2px;
  }

  .up {
      display: block;
      background-color: #2FC2EF;
      margin: 0px;
      width: 100%;
      height: 50%;  
  }

  .left img {
    background-color: rebeccapurple;
    border: 2px solid white;
    border-radius: 50% 50%;
    position: absolute;
    width: 6%;
    height: 12%;
    top: 17%;
    left: 4%;
  }

.dash {
    display: flex;
    flex-direction: row;
}

.dash a, .left a {
    color: #657786;
    padding: 2px;
}

.dash a:hover, span {
    color: #2FC2EF;
}
h1 {
    color: black;
}


  
