/* header */



/* section links */

/* section form posts */

/* section get posted */

body, .left {
    background-color: #E6ECF0;
}


form {
    display: flex;
    flex-direction: column;
  }
  
  .container {
  display: flex
  }

  .trio {
      
  }

  .fisrtTwt {
      display: none;
  }
  
  
  
  button {
    background-color: #58CEF2;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .posted p, .left, .right {
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 2px;
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    opacity: 0.7;
    border-radius: 2px;
    flex-basis: 30%;
  }